:root {
	// =================================================================
	--bg-primary: #FFFEFC; // BG primary background color - (Основний фоновий колір сайту)
	--bg-secondary: #FFF9F1; // BG secondary background color - (Додатковий фоновий колір сайту)
	--bg-accent: #F9C06A; // BG accent - наприклад, може бути використаний для встановлення кольору фону для акцентних елементів, таких як кнопки або іконки.

	// =================================================================
	--text-primary: #707070; // Text primary text color - (Основний текстовий колір сайту)
	--text-secondary: #FFFFFF; // Text secondary text color - (Додатковий текстовий колір сайту)
	--text-accent_1: #603809; // Text accent - наприклад, може використовуватися для встановлення кольору тексту для акцентних елементів на сторінці, бо
	--text-accent_2: #1E1E1E;
	// =================================================================
}